<!-- Loop over each object in the projects array -->
{{#each blogPosts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/blogpost/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created on {{post.formattedDate}}</p>
  </div>
</div>
{{/each}}
